<app-page-header [heading]="'Điều trị'" [icon]="'fa-table'"></app-page-header>
<div class="row">
    <div class="col col-xl-9 col-lg-9 form-group">
        <button type="button" class="btn btn-primary" [routerLink]="['/treatment-add', medicalRecordRouteId]" [routerLinkActive]="['router-link-active']">Thêm
            mới</button>
        <!-- <button type="button" class="btn btn-sm btn-success mr-1" (click)="onUpdate()" [disabled]="this.selection.selected.length !== 1">Cập
            nhật</button> -->
        <!-- <button type="button" class="btn btn-sm btn-danger mr-1" (click)="onDelete()" [disabled]="this.selection.selected.length === 0">Xóa</button> -->
    </div>
</div>
<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Patient Code Column -->
                <ng-container matColumnDef="Code">
                    <th mat-header-cell *matHeaderCellDef> Mã điều trị</th>
                    <td mat-cell *matCellDef="let element"> <a [routerLink]="['/treatment-details',  element.id ]">{{element.code}}</a> </td>
                </ng-container>

                <ng-container matColumnDef="FullName">
                    <th mat-header-cell *matHeaderCellDef> Bệnh nhân </th>
                    <td mat-cell *matCellDef="let element"> {{element.patientFirstName}} {{element.patientLastName}} </td>
                </ng-container>

                <ng-container matColumnDef="MedicalRecordCode">
                    <th mat-header-cell *matHeaderCellDef> Mã bệnh án </th>
                    <td mat-cell *matCellDef="let element"> {{element.medicalRecordCode}} </td>
                </ng-container>

                <ng-container matColumnDef="StartDate">
                    <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu </th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'MM-dd-yyyy' : 'vn-VN'}} </td>
                </ng-container>

                <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef> Khám</th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="Content">
                    <th mat-header-cell *matHeaderCellDef> Kết quả </th>
                    <td mat-cell *matCellDef="let element"> {{element.content}} </td>
                </ng-container>

                <ng-container matColumnDef="Doctor">
                    <th mat-header-cell *matHeaderCellDef> Bác sĩ </th>
                    <td mat-cell *matCellDef="let element">{{element.doctorFirstName}} {{element.doctorLastName}}</td>
                </ng-container>

                <ng-container matColumnDef="Nurse">
                    <th mat-header-cell *matHeaderCellDef> Y tá </th>
                    <td mat-cell *matCellDef="let element">{{element.nurseFirstName}} {{element.nurseLastName}}</td>
                </ng-container>

                <ng-container matColumnDef="Note">
                    <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
                    <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                </ng-container>

                <!-- Control Column -->
                <ng-container matColumnDef="control" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Tác vụ </th>
                    <td mat-cell *matCellDef="let element">
                        <i class="fa fa-edit fa-lg mr-5" title="Cập nhật" [routerLink]="['/treatment-update',  element.id ]"></i>
                        <!-- <i class="fa fa-ban fa-lg mr-5" title="Vô hiệu hóa" (click)="onDisable()"></i> -->
                        <!-- <fa-icon [icon]="faBriefcase" class="fa-lg" style="color: #673ab7" title="Xem bệnh án"
                            [routerLink]="['/treatments',  element.id ]"></fa-icon> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <!-- Paging -->
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50]" (page)="pageEvent = onPageChange($event)"
                showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>