<div class="login-page" (keyup.enter)="onLoggedin()">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Đăng nhập </h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.username" name="username" class="form-control input-underline input-lg" id="username" placeholder="Tên đăng nhập">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control input-underline input-lg" id="password" placeholder="Mật khẩu">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Đăng nhập </a>
            </form>
        </div>
    </div>
</div>
