<app-page-header [heading]="'Hồ sơ bệnh nhân'" [icon]="'fa-table'"></app-page-header>
<div class="row">
    <div class="col col-xl-9 col-lg-9 form-group">
        <button type="button" class="btn btn-primary" [routerLink]="['/patient-add']" [routerLinkActive]="['router-link-active']">Thêm
            mới</button>
        <!-- <button type="button" class="btn btn-sm btn-success mr-1" (click)="onUpdate()" [disabled]="this.selection.selected.length !== 1">Cập
            nhật</button> -->
        <!-- <button type="button" class="btn btn-sm btn-danger mr-1" (click)="onDelete()" [disabled]="this.selection.selected.length === 0">Xóa</button> -->
    </div>
    <div class="col col-xl-1 col-lg-1 form-group">
        <mat-form-field>
            <select matNativeControl [(ngModel)]="filter.code">
                <option value="code">Mã BN</option>
                <option value="name">Họ tên</option>
                <option value="phone">Điện thoại</option>
                <option value="identifyCardNo">CMND</option>
            </select>
        </mat-form-field>
    </div>
    <div class="col col-xl-2 col-lg-2 form-group">
        <mat-form-field class="col-3">
            <mat-label class="text-right font-weight-bold">Tìm kiếm</mat-label>
            <input matInput [(ngModel)]="filter.value" (keyup.enter)="searchConfig()">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Patient Code Column -->
                <ng-container matColumnDef="Code">
                    <th mat-header-cell *matHeaderCellDef> Mã bệnh nhân</th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <ng-container matColumnDef="FullName">
                    <th mat-header-cell *matHeaderCellDef> Họ và Tên </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <ng-container matColumnDef="IdentifyCardNo">
                    <th mat-header-cell *matHeaderCellDef> CMND </th>
                    <td mat-cell *matCellDef="let element"> {{element.identifyCardNo}} </td>
                </ng-container>

                <ng-container matColumnDef="Phone">
                    <th mat-header-cell *matHeaderCellDef> Điện thoại </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="Address">
                    <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <ng-container matColumnDef="Sex">
                    <th mat-header-cell *matHeaderCellDef> Giới tính </th>
                    <td mat-cell *matCellDef="let element">{{ element.sex == 1 ? 'Nam' : 'Nữ' }}</td>
                </ng-container>

                <!-- Control Column -->
                <ng-container matColumnDef="control" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Tác vụ </th>
                    <td mat-cell *matCellDef="let element">
                        <i class="fa fa-edit fa-lg mr-5" title="Cập nhật" [routerLink]="['/patient-update',  element.id ]"></i>
                        <i *ngIf="element.isActived" class="fa fa-ban fa-lg mr-5" title="Vô hiệu hóa" (click)="onDisable(element.id)"></i>
                        <i *ngIf="!element.isActived" class="fa fa-undo fa-lg mr-5" title="Kích hoạt" (click)="onEnable(element.id)"></i>
                        <!-- <fa-icon [icon]="faBriefcase" class="fa-lg" style="color: #673ab7" title="Xem bệnh án"
                            [routerLink]="['/treatments',  element.id ]"></fa-icon> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <!-- Paging -->
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50]" (page)="pageEvent = onPageChange($event)"
                showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>